/* smartphone medeia query */
@media (max-width:670px) {
/*header　menu-bars */
  .header-logo{
    padding-left: 10px;
  }

  .headerleft{
    text-align: center;
  }

  .icon-arrow{
    padding-left: 25px;
  }

  .icon{
    padding-left: 25px;
  }
/*ハンバーガーメニュー --------------------------------------------------------*/
  .menu-list{
    display:none ;
  }

  .smapho-menu{
    display: inline;
  }
/*Home ----------------------------------------------------------------------*/
  .Home{
    padding-top:20px;
  }
/*Info ----------------------------------------------------------------------*/
  .Info{
    height:1800px;
  }

.menu-logo h1{
  margin-left: 15px;
}

  .bashinfo p{
    text-align: center;
  }

  .bashinfo img{
    width:90%;
    margin: auto;
  }

  .css-br{
    white-space:pre;
  }

@media (max-width:420px) {
.icon-arrow{
  padding-left: 10px;
  float: left;
}
  
.icon{
  padding: 0px 10px;
  float: left;
}
/*-- schedule--------------------------------------------------------------- */
.schedules{
  margin-top: 70px;
  height: 2600px;
}

.schedule{
  margin-top: 10px;
  margin-left: 0px;
  width: 100%;
  text-align: center;
}

.img{
  width: 250px;
}


.flyer-TP{
  position: absolute;
  top:-15%;
  left: 15%;
  font-size: 28px;
  height: 114%;
  width:70%;
  opacity: 0;
  -webkit-transition:	all 0.6s ease;
  transition:		all 0.6s ease;
}

.flyer:hover .flyer-TP{
  opacity: 1;
  padding-top:10px;
}
	
}
@media (max-width:380px) {
.icon-arrow{
  padding-left: 10px;
  float: left;
}
  
.icon{
  padding: 0px 10px;
  float: left;
}
/*-- schedule--------------------------------------------------------------- */
 .icon-arrow{
  padding-left: 7px;
  float: left;
}

.icon{
  padding-left: 10px;
  float: left;
}
	
.schedules{
  margin-top: 70px;
  height: 2600px;
}

.schedule{
  margin-top: 10px;
  margin-left: 0px;
  width: 100%;
  text-align: center;
}

.flyer img{
  width: 250px;
}

.flyer-TP{
  position: absolute;
  top:-4%;
  left: 13%;
  font-size: 25px;
  height: 105%;
  width:75%;
  opacity: 0;
  -webkit-transition:	all 0.6s ease;
	transition:		all 0.6s ease;
}

.flyer:hover .flyer-TP{
  opacity: 1;
  padding-top:10px;
}

/* 共通footer ---------------------------------------------------------------*/
.footer-icons{
  margin: initial;
  display: inline-block;
  text-align: center;
}

}/*←LAST */
